.inline-block {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.naviColor {
    padding: 10px;
    background-color: #B2ABFF;
}

nav {
    width: 73%;
    padding: auto;
}

.logo {
    width: 23%;
    height: auto;
    padding: auto;
    text-align: center;
}

#imgLogo {
    max-width: 80px;
    height: auto;
}

#imgHero {
    max-width: 600px;
    height: auto;
}

.imgProject {
    max-width: 400px;
    height: auto;
    border: 2px solid black;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    width: 50%;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
}

ul {
    width: auto;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    padding: auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
}

li {
    width: 100px;
}

.heroImg {
    max-width: 2000px;
    height: auto;
    padding: 25px;
}

.content {
    width: auto;
    margin: 0 auto;
}

button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 21px;
    background-color: #B2ABFF;
    padding: 1%;
    width: 400px;
}

footer {
    background-color: #373738;
    padding: 1%;
}